@if (event==true) {
    <app-form [title]="'Student'">
        <!-- استاد باید کلاس رو سلکت کنیم  -->
        <div class="card">
            <input type="text" title="fullname" placeholder="Inter fullname">
            <input type="text" title="average" placeholder="Inter average">
        </div>
    </app-form>
}
<grid
    [columns]="['id','fullname','average']"
    [data]="student"
    (onEdit)="edit($event)"
    (onRemove)="remove($event)"
    (onformabel)="on($event)"
    [name]="'Student'"
/>
